## 比对AQ、ME日期，使数据统一，组合成新表

In [6]:
import numpy as np
import pandas as pd

取清洗之后的AQ、ME数据，去除不需要的列

In [7]:
dataPathAQ = "project\data\AQ_data_new.csv"
dataAQ = pd.read_csv(dataPathAQ)
dataPathME = "project\data\ME_data_clear.csv"
dataME=pd.read_csv(dataPathME)
dataAQ=dataAQ.drop(columns=["日期","质量等级","当天AQI排名","年","月","日"])
dataME=dataME.drop(columns=["星期","WindDirection","WindSpeed","天气","风向风力","年","月","日"])
data=dataME.join(dataAQ)
data.to_csv("project\data\FinalData.csv")
dataME

,日期,最高温度,最低温度,东北风,东南风,东风,北风,南风,无持续风向,西北风,...,雾,阵雨,小雨,中雨,大雨,雷雨,暴雨,雨夹雪,雨,暴风雨
0,2014-01-01,10,4,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2014-01-02,8,6,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
2,2014-01-03,9,5,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,2014-01-04,13,5,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2014-01-05,10,6,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2744,2021-08-27,23,17,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2745,2021-08-28,20,19,0,0,0,1,0,0,0,...,0,0,1,1,0,0,0,0,0,0
2746,2021-08-29,22,19,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2747,2021-08-30,31,22,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2748,2021-08-31,29,22,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

比对日期，只保留共有的日期