## 比对AQ、ME日期，使数据统一，组合成新表

In [23]:
import numpy as np
import pandas as pd

取清洗之后的AQ、ME数据，去除不需要的列

In [24]:
dataPathAQ = "project\data\AQ\AQ_data_new.csv"
dataAQ = pd.read_csv(dataPathAQ)
dataPathME = "project\data\ME\ME_data_clear.csv"
dataME=pd.read_csv(dataPathME)
dataAQ=dataAQ.drop(columns=["质量等级","当天AQI排名","年","月","日"])
dataME=dataME.drop(columns=["星期","WindDirection","WindSpeed","天气","风向风力","年","月","日"])
print(dataAQ.head())
print(dataME.head())

           日期  AQI指数  PM2.5  PM10  So2  No2    Co  O3
0  2014-01-01    149    114   161   40   40  1.50   9
1  2014-01-02    167    134   187   40   40  1.35  11
2  2014-01-03    208    158   229   52   52  1.62  15
3  2014-01-04    205    156   226   54   54  1.73  21
4  2014-01-05    210    160   213   46   46  1.64  16
           日期  最高温度  最低温度  东北风  东南风  东风  北风  南风  无持续风向  西北风  ...  雾  阵雨  小雨  \
0  2014-01-01    10     4    0    0   0   0   0      1    0  ...  0   0   0
1  2014-01-02     8     6    0    0   0   0   0      1    0  ...  0   0   1
2  2014-01-03     9     5    0    0   0   0   0      1    0  ...  0   0   0
3  2014-01-04    13     5    0    0   0   0   0      1    0  ...  0   0   0
4  2014-01-05    10     6    0    0   0   0   0      1    0  ...  0   0   1

   中雨  大雨  雷雨  暴雨  雨夹雪  雨  暴风雨
0   0   0   0   0    0  0    0
1   0   0   0   0    0  0    0
2   0   0   0   0    0  0    0
3   0   0   0   0    0  0    0
4   0   0   0   0    0  0    0

[5 rows x 31 columns]

比对日期，只保留共有的日期

,日期,最高温度,最低温度,东北风,东南风,东风,北风,南风,无持续风向,西北风,...,雾,阵雨,小雨,中雨,大雨,雷雨,暴雨,雨夹雪,雨,暴风雨
0,2014-01-01,10,4,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2014-01-02,8,6,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
2,2014-01-03,9,5,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,2014-01-04,13,5,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2014-01-05,10,6,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2744,2021-08-27,23,17,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2745,2021-08-28,20,19,0,0,0,1,0,0,0,...,0,0,1,1,0,0,0,0,0,0
2746,2021-08-29,22,19,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2747,2021-08-30,31,22,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2748,2021-08-31,29,22,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

              日期  AQI指数  PM2.5  PM10  So2  No2    Co  O3
0     2014-01-01    149    114   161   40   40  1.50   9
1     2014-01-02    167    134   187   40   40  1.35  11
2     2014-01-03    208    158   229   52   52  1.62  15
3     2014-01-04    205    156   226   54   54  1.73  21
4     2014-01-05    210    160   213   46   46  1.64  16
...          ...    ...    ...   ...  ...  ...   ...  ..
2748  2021-08-27     17     10    15   22   22  0.57  43
2749  2021-08-28     16      9    16   22   22  0.61  30
2750  2021-08-29     18     10    18   23   23  0.62  33
2751  2021-08-30     28     13    25   22   22  0.70  48
2752  2021-08-31     34     18    34   22   22  0.67  50

[2753 rows x 8 columns]